registry=https://repo7.sebank.se/artifactory/api/npm/custody-core-npm-virtual/
//repo7.sebank.se/artifactory/api/npm/custody-core-npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJZRm1jOEJWZFRNcDhtSUJ5YVFkNXA4Z0JrWGpTNm1ZdlJoVkRlbWF4bDc0In0.eyJzdWIiOiJqZnJ0QDAxZmprY2NzcjU0bXQ3MWcwY2o1ZXQwZDN3XC91c2Vyc1wvZDM0ODZmIiwic2NwIjoibWVtYmVyLW9mLWdyb3VwczoqIiwiYXVkIjoiamZydEAwMWZqa2Njc3I1NG10NzFnMGNqNWV0MGQzdyIsImlzcyI6ImpmcnRAMDFmamtjY3NyNTRtdDcxZzBjajVldDBkM3dcL3VzZXJzXC9kMzQ4NmYiLCJpYXQiOjE2Nzc0OTAxMDcsImp0aSI6IjY1ZmRkMDc1LWZmY2ItNGQ2NS1iNmY5LTQ1M2NhMjAwOWI5MiJ9.bkcOMsueIEJ6eJ65w6O_A5ZCIAOj_LJqprkl8MWLVonLqdNf7Zj9KjeaaHyahbKAlkBaqfcVe0TyNrd5gQ_iNZ_r6NDyDkbUJD0CXdX7om2noXjPGQmlUopcjdib0R6U4agPd3-WufZ1HwMv9084RwTj0s6jlaZYprqIZR7FfBitxXLcZdhWqXv72dRdD3ji00N2tuEs2yeQHCpLfxxsbN91lT62gA0F_wupW20wYH5YPASN1rhkq-p8M-GCE3tNB9efgr-KRB3_PpHG-Q0p_NxAJ5EzsrGhh8489mIwXEG4jy7pw2c0eh25VPmHhm6mNFeXAMuYDT-mWpGPXcwJEw